# Игнорируем папки с моделями
model/

# Игнорируем веса моделей
*.pth
*.pkl

# Игнорируем обработанные данные
*.csv

# Игнорируем виртуальное окружение
.venv/
.idea/

# Кэш Python и временные файлы
__pycache__/
*.pyc